# Generated initially for the AbelR package scaffold.
exportPattern("^[[:alpha:]]+")

importFrom(cowplot,ggdraw)
importFrom(cowplot,draw_label)
importFrom(cowplot,draw_plot)
importFrom(cowplot,plot_grid)
importFrom(grDevices,colorRampPalette)
importFrom(stats,cor.test)
importFrom(stats,lm)
importFrom(stats,median)
importFrom(stats,na.omit)
importFrom(stats,p.adjust)
importFrom(stats,sd)
importFrom(utils,head)
importFrom(utils,read.table)
import(DESeq2)
import(dplyr)
import(forcats)
import(ggplot2)
import(ggpubr)
import(ggrastr)
import(glmnet)
import(MAGeCKFlute)
import(org.Hs.eg.db)
import(patchwork)
import(RColorBrewer)
import(Seurat)
import(survival)
import(survivalROC)
import(survminer)
import(tidyr)
import(UpSetR)
import(WGCNA)
