# Public AbelR functions.
export(Build_CellChat_object)
export(build_bulkRNA_batches)
export(build_ukb_multiomic_score)
export(ChIPseq_heatmap_plot)
export(classify_chip_carriers)
export(classify_ukb_thrombosis)
export(Compare_pairwise_Deseq2)
export(DESeq2_DEG_analysis)
export(DESeq2_DEG_analysis_batch)
export(DESeq2_DEG_extract)
export(EnrichMSigDB)
export(GSEA_analysis)
export(Risk_grouping_cox)
export(Risk_model_df)
export(RiskScore_multivar_cox)
export(ccor_paired_gene)
export(ccor_paired_obj)
export(cre_h3k27ac_area_plot)
export(enhancer_rank_plot)
export(enrich_combind)
export(expression_boxplot_byMut)
export(filter_seurat_qc)
export(fit_ukb_competing_risk)
export(go_plot_custom)
export(gsea_plot_custorm)
export(heatmap_sort)
export(peak_heatmap_byhomer)
export(peak_pieplot_byhomer)
export(prepare_ukb_icd10_events)
export(plot_deg_comparison)
export(plot_deg_heatmap_for_DEGseq2)
export(plot_deg_manhattan)
export(plot_bulkRNA_PCA)
export(plot_enrichment_summary)
export(plot_gsea_summary)
export(plot_gene_tpm_median)
export(plot_logistic_forest)
export(plot_roc_curve)
export(plot_survial_risk)
export(make_ukb_competing_risk_data)
export(merge_ukb_chip_callsets)
export(run_monocle3_from_seurat_umap)
export(run_cytotrace2_by_sample)
export(run_ukb_omics_limma)
export(scRNA_SCT_norm)
export(scTYPE_annotation)
export(target_for_volcano)
export(track_view_cre_mut)
export(trackview_peak_roi)
export(volcano_plot_Deseq2)
export(volcano_plot_scRNA)

importFrom(cowplot,ggdraw)
importFrom(cowplot,draw_label)
importFrom(cowplot,draw_plot)
importFrom(cowplot,plot_grid)
importFrom(grDevices,colorRampPalette)
importFrom(stats,cor.test)
importFrom(stats,lm)
importFrom(stats,median)
importFrom(stats,na.omit)
importFrom(stats,p.adjust)
importFrom(stats,sd)
importFrom(utils,head)
importFrom(utils,read.table)
import(DESeq2)
import(dplyr)
import(forcats)
import(ggplot2)
import(ggpubr)
import(ggrastr)
import(glmnet)
import(org.Hs.eg.db)
import(patchwork)
import(RColorBrewer)
import(Seurat)
import(survival)
import(survivalROC)
import(survminer)
import(tidyr)
import(UpSetR)
import(WGCNA)
