# Generated initially for the AbelR package scaffold.
exportPattern("^[[:alpha:]]+")

importFrom(cowplot,ggdraw)
importFrom(cowplot,plot_grid)
import(DESeq2)
import(dplyr)
import(forcats)
import(ggplot2)
import(ggrastr)
import(glmnet)
import(MAGeCKFlute)
import(org.Hs.eg.db)
import(patchwork)
import(RColorBrewer)
import(Seurat)
import(survival)
import(survivalROC)
import(survminer)
import(tidyr)
import(tidyverse)
import(UpSetR)
import(WGCNA)
